<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
        <title>CONTATE-NOS | TESLA</title>
    </head>
    <body>
        <main class="container">
            <div class="tesla1">
                <h1 id="tesla2">TESLA</h1>
            </div>
            <div class="content">
                <div class="form_div">
                    <h2>Envie-nos uma mensagem!</h2>
                    <form method="post" id="form_msg">
                        <h3> Seu nome completo</h3>
                        <input type="text" placeholder="Insira aqui seu nome completo" class="inputs" id="nome">
                        <h3>Seu endereço de e-mail</h3>
                        <input type="text" placeholder="Insira aqui seu e-mail" class="inputs" id="email">
                        <div class="textarea_div">
                            <h3>Escreva sua mensagem</h3>
                            <textarea id="textarea"></textarea>
                        </div>
                        <div class="submit_div">
                            <input type="submit" class="submit" onclick="end()">
                        </div>
                    </form>
                </div>
                <div class="map_div">
                    <a href="https://maps.app.goo.gl/944VjMXC3Xr1zBW2A"><img src="../../images/map.jpg" ></a>
                </div>
            </div>
        </main>
    </body>
</html>