<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
        <title>CONTATE-NOS | TESLA</title>
    </head>
    <body>
        <main class="container">
            <div class="tesla1">
                <h1 id="tesla2">TESLA</h1>
            </div>
            <div class="content">
                <div class="form_div">
                    <h2>Envie-nos uma mensagem!</h2>
                    <form method="post" id="form_msg">
                        <h3> Seu nome completo</h3>
                        <input type="text" placeholder="Insira aqui seu nome completo" class="inputs" id="nome">
                        <h3>Seu endereço de e-mail</h3>
                        <input type="text" placeholder="Insira aqui seu e-mail" class="inputs" id="email">
                        <div class="textarea_div">
                            <h3>Escreva sua mensagem</h3>
                            <textarea id="textarea"></textarea>
                        </div>
                        <div class="submit_div">
                            <input type="submit" class="submit" onclick="end()">
                        </div>
                    </form>
                </div>
                <div class="map_div">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27579.536030107283!2d-97.64529334353027!3d30.22446955974403!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b7fc8c58e725%3A0x6fa2f52726e62dea!2sTesla%20Giga%20Texas!5e0!3m2!1spt-BR!2sbr!4v1714063556163!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </main>
    </body>
</html>
