@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@font-face {
    font-family: "TESLA";
    src: url("../../customs/TESLA.ttf");
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../images/Cybertruck-Second-Hero-Desktop.avif");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.container{
    width: 100%;
    height: 85%;
}
.tesla1{
    width: 100%;
    height: auto;
    margin: 0;
}
#tesla2{
    font-family: "TESLA", sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 15px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Balthazar", sans-serif;
}
.form_div{
    width: 40%;
    height: auto;
    padding-left: 25px;
    background-color: rgba(149, 147, 147, 0.423);
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 5px 10px 70px 20px;
}
.map_div{
    width: 30%;
    height: auto;
    border-radius: 10px;
    
    padding: 0;
}
h2{
    text-align: center;
}
h3{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inputs{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: black solid 2px;
    width: 92%;
    text-align: center;
}
.inputs::placeholder{
    color: rgb(37, 37, 37);
    font-size: medium;
}
.textarea_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
textarea{
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    height: 70px;
    min-height: 70px;
    max-height: 130px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(141, 141, 141, 0.431);
}
.submit_div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 22%;
    height: 27px;
    border-radius: 5px;
    border: none;
    font-weight: 550;
    background-color: rgb(94, 94, 94);
    font-size: medium;
}
.submit:hover{
    background-color: rgb(126, 126, 126);
}
img{
    width: 100%;
    border-radius: 10px;
    margin: 0;
    box-shadow: rgb(0, 0, 0) 5px 5px 70px 20px;
    border: black solid 3px;
}
