<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
        <title>HOME | Tesla</title>
    </head>
    <body>
        <main class="container">
            <div class="ntc_1">
                <div class="menu">
                    <div class="tesla1">
                        <h1 class="tesla2">TESLA</h1>
                    </div>
                    <div class="menu1">
                        <a class="anc" href="../products/products.html">Produtos</a>
                        <a class="anc" href="../about/about.html">Sobre</a>
                        <a class="anc" href="../contact/contact.html">Contato</a>
                    </div>
                </div>
                <div class="text1_div">
                    <div class="text1">
                        <h2>Tesla Cybertruck já possui tecnologia de<br> carregamento sem fio</h2>
                        <p>A Tesla está mostrando estar pronta para o futuro do carregamento sem fio de carros elétricos ao deixar o Cybertruck preparado para receber a tecnologia. A informação veio pelo Electrek, que informou que a picape futurista de Elon Musk possui conectores compatíveis conectados em sua bateria.</p>
                    </div>
                    <div class="text1_1">
                        <h2>Direção melhorada</h2>
                        <p>É uma novidade até mesmo empunhar o volante, achatado tanto na base quanto no topo.  E a direção usa o sistema steer-by-wire, que é essencialmente uma direção eletrônica baseada em computador, muito mais preciso do que a direção hidráulica típica. Funciona mais ou menos como a direção de um videogame, em que você precisa fazer movimentos mínimos, mesmo em curvas amplas.</p>
                    </div>
                </div>
            </div>
            <div class="ntc_2">
                <div class="text2_div">
                    <div class="text2_2">
                        <h2>SUV mais seguro do mundo</h2>
                        <p>O NHTSA (National Highway Traffic Safety Administration), principal associação reguladora de segurança rodoviária dos Estados Unidos, classificou o Tesla Model X como o SUV mais seguro do Mundo.
                        Os bons resultados obtidos, ainda segundo a associação norte-americana, são fruto da construção moderna do Model X e da sua motorização elétrica - por não possui motor a combustão na parte da frente, essa área é capaz absorver impactos frontais de maneira mais efetiva. Além disso, sua bateria está localizada sob o assoalho, deixando o peso melhor distribuído e criando um centro de gravidade muito baixo, o que faz o veículo ser mais estável e diminui o risco de inclinação da carroceria.</p>
                    </div>
                    <div class="text2">
                        <h2>O novo Tesla Model X possui duas versões de motorização</h2>
                        <p>O Tesla Model X 2023 oferece duas opções de motorização: Dual Motor com tração integral e longo alcance, e Plaid Tri Motor com tração integral e alto desempenho.
                        Ambas as versões são equipadas com baterias de íons de lítio que garantem uma autonomia de até 560 km, na versão Dual Motor, e de até 536 km na versão Plaid.</p>
                    </div>
                </div>
            </div>
            <div class="ntc_3">
                <div class="text3_div">
                    <div class="text3">
                        <h2>Líder de vendas na Europa</h2>
                        <p>Em uma surpreendente reviravolta, o Tesla Model Y garantiu seu lugar como o carro mais vendido da Europa em 2023. Dados preliminares dos especialistas em pesquisa de mercado da Dataforce revelam que o veículo elétrico estabeleceu uma sólida liderança sobre seu concorrente mais próximo, o Dacia Sandero.
                        O Tesla Model Y triunfou sobre o hatch romeno com uma vantagem de 254.822 a 235.893 unidades no acumulado do ano passado e atingiu um feito histórico ao se tornar o primeiro elétrico a ser o carro mais vendido da Europa no fechamento de um ano.</p>
                    </div>
                    <div class="text3_3">
                        <h2>SUV mais vendido do mundo</h2>
                        <p>É a primeira vez que um carro elétrico ocupa a liderança global de venda de automóveis desde que o ranking começou a ser divulgado na década de 1980. Os dados são ainda preliminares, mas a consultoria Jato Dynamics indica que o SUV elétrico da empresa de Elon Musk teve 1,23 milhão de unidades vendidas em todo o mundo ao longo do ano passado.</p>
                    </div>
                </div>
                <div class="btn_div">
                    <button onclick="start()" class="btn_start">Voltar ao início da página</button>
                </div>
            </div>
        </main>
    </body>
</html>