<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src=""></script>
        <title>SOBRE | Tesla</title>
    </head>
    <body>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../../customs/Introducing Ultra Red.mp4" type="video/mp4">
        </video>
        <div class="title1">
            <h1>TESLA</h1>
        </div>
        <main class="container">
            <div class="content">
                <div class="title2">
                    <h2> O futuro é sustentável</h2>
                    <div class="content2">
                        <div class="text">
                            <p>Nós estamos construindo um mundo movido por energia solar, correndo nas baterias e transportado por veículos elétricos. Explore os mais recentes impactos de nossos produtos, pessoas e cadeia de suprimentos.</p>
                        </div>
                        <div class="img_div">
                            <img class="img1" src="../../images/About-Us-Power-Hero-Desktop-Global.avif">
                        </div>
                    </div>
                </div>
                <div class="title2">
                    <h2>Nossa história</h2>
                    <div class="text2">
                        <p>Fundada em 2003 na Califórnia, a Tesla é uma empresa especializada em Carros Elétricos. O nome é uma homenagem a Nikola Tesla (1856-1943), sérvio que foi um dos mais geniais cientistas da história, com contribuições essenciais para o conhecimento que usamos até hoje para o fornecimento de energia e correntes elétricas. Foi Nikola Tesla que criou, no século XIX, um motor de indução de corrente alternada que revolucionou a indústria. Nada mais justo do que a homenagem no nome de uma empresa que visa lançar carros tecnológicos e ecologicamente sustentáveis. Mas, diferentemente do que acredita-se, a Tesla não foi criada pelo sul-africano Elon Musk. Os fundadores foram os engenheiros Martin Eberhard e Marc Tarpenning, em 2003. Só no ano seguinte, com investimentos milionários, é que o famoso e polêmico CEO Elon Musk assumiu o cargo. </p>
                    </div>
                    <div class="img2">
                        <h2>Martin Eberhard</h2>
                        <h2>Marc Tarpenning</h2>
                    </div>
                    <div class="img2">
                        <img class="img2_2" src="../../images/martineberhard_320xx1445-2168-94-0.jpg">
                        <img class="img2_2" src="../../images/2007-03-27_101207_400x400.jpeg">
                    </div>
                </div>
                <div class="title2">
                    <h2>Não fabricamos somente carros</h2>
                    <div class="content2">
                        <div class="img_div">
                            <img src="../../images/solar-panel-closeup.jpg" class="img1">
                        </div>
                        <div class="text">
                            <p>Apesar da atuação da companhia ser direcionada para fabricação e distribuição de veículos elétricos, com a Tesla Motors, ela também atua em projetos de sustentabilidade. A empresa tem iniciativas na geração e armazenamento de energia solar, bem como na comercialização de componentes elétricos como baterias industriais de lítio-íon.</p>
                        </div>
                    </div>
                </div>
                <div class="title2">
                    <h2>Conectados 24h por dia</h2>
                    <p>Uma curiosidade dos carros de Elon Musk é que eles nunca desligam – mais ou menos como o próprio CEO.  Ao parar o carro é só colocar a alavanca de câmbio na posição “Park”. Nem é preciso se preocupar em desligar chave alguma. No máximo, o que pode ser feito é ligar e desligar o compartimento que dá acesso ao sistema de alimentação do veículo, via um botão na tela sensível ao toque. Isso porque o veículo tem a necessidade de ser constantemente atualizado, e esse serviço normalmente pode acontecer durante a noite.</p>
                    <div class="img3_div">
                        <img class="img3" src="../../images/model-3-interior-dashboard---head-on.webp">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>