<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>CREATE NEW USER | Tesla</title>
        <div class="tesla">
            <h1 class="tesla1">TESLA</h1>
        </div>
    </head>
    <body>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../../customs/Model S and Model X Plaid Arrive in Europe.mp4" type="video/mp4">
        </video>
        <main id="container">
            <div class="form_div">
                <img src="../../images/tesla_icon.png" class="img1">
                <div class="text">
                    <h2>Função temporariamente indisponível, por favor use os seguintes dados nos campos:<br>Usuário: root<br>Senha: root</h2>
                </div>
                <div class="anc">
                    <a href="../../index.html">Voltar a página de login</a>
                </div>
            </div>
        </main>
    </body>
</html>