<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../images/tesla_icon.png">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>PRODUTOS | Tesla</title>
        <script></script>
    <div class="tesla">
        <h1 class="tesla1">TESLA</h1>
    </div>
    </head>
    <body>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../../customs/Model S and Model X Plaid Arrive in Europe.mp4" type="video/mp4">
        </video>
        <main class="container">
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Model X</h1>
                    <p><strong>Preço: </strong>R$ 441.000</p>
                    <p><strong>Autonomia: </strong>560 km</p>
                    <p><strong>Potência: </strong>1020 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/modelx.png">
                </div>
                <h1>Tesla Model X</h1>
            </div>
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Model Y</h1>
                    <p><strong>Preço: </strong>R$ 470.000</p>
                    <p><strong>Autonomia: </strong>387 km</p>
                    <p><strong>Potência: </strong>213 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/tesla-model-y-performance-awd-removebg-preview.png">
                </div>
                <h1>Tesla Model Y</h1>
            </div>
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Roadster</h1>
                    <p><strong>Preço: </strong>R$ 990.000</p>
                    <p><strong>Autonomia: </strong>965 km</p>
                    <p><strong>Potência: </strong>1000 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/tesla roadster.png">
                </div>
                <h1>Tesla Roadster</h1>
            </div>
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Cybertruck</h1>
                    <p><strong>Preço: </strong>R$ 880.000</p>
                    <p><strong>Autonomia: </strong>515 km</p>
                    <p><strong>Potência: </strong>856 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/cybertruck-removebg-preview.png">
                </div>
                <h1>Tesla Cybertruck</h1>
            </div>
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Model 3</h1>
                    <p><strong>Preço: </strong>R$ 469.000</p>
                    <p><strong>Autonomia: </strong>499 km</p>
                    <p><strong>Potência: </strong>462 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/teslamodel3-removebg-preview.png">
                </div>
                <h1>Tesla Model 3</h1>
            </div>
            <div class="product">
                <div class="overlay">
                    <h1 id="title">Tesla Model S</h1>
                    <p><strong>Preço: </strong>R$ 1.276.000</p>
                    <p><strong>Autonomia: </strong>426 km</p>
                    <p><strong>Potência: </strong>514 cv</p>
                </div>
                <div class="img_div">
                    <img src="../../images/models-removebg-preview.png">
                </div>
                <h1>Tesla Model S</h1>
            </div>
        </main>
    </body>
</html>